body {
  background: linear-gradient(45deg, #5fc3e4 0%, #e55d87 80%) fixed;
  color: white;
}
.main {
	/*display: inline-block;*/
	border: 4px solid white;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 640px;/*640*/
    height: 480px;
	display: inline-block;
}

.timer__items {
  display: flex;
  font-size: 96px;
  position: relative;
  margin: auto;
  font-family: aRIAL;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 30px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 28px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -32px;
}
.header_2 {
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-size: 52px;
}
.deadline {
  height: 220px;
}
.deadline_text {
  text-align: center;
  font-family: aRIAL;
  font-size: 96px;
  position: relative;
  margin: 0 auto;
}
.link {
  position: relative;
  padding-top: 40px;
  text-align: center;
  font-size: 32px;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: white;
}
